# Core
numpy
opencv-python

# Computer Vision (PyTorch and YOLO)
torch
torchvision
ultralytics
pytesseract
pillow
shapely

# API & Server
fastapi
uvicorn[standard]

# Database (for future phases)
psycopg2-binary
SQLAlchemy

# Utilities
# Add any other utility libraries here in the future
yt-dlp